body {
  font-family: sans-serif;
  background:#0f0f0f;
  color:#eee;
  text-align:center;
  padding:10px;
}

button {
  padding:10px;
  margin:5px;
  background:#9b5cff;
  border:none;
  color:white;
  border-radius:8px;
}

#timer {
  font-size:32px;
  margin:15px;
}
